 <!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <title>Student List</title> 
</head> 
<body> 
    <h1 style="text-align: center;">Employer List</h1> 
	<table  border="2"   style="border-collapse: collapse;text-align: center;border-spacing: 20px 10px; width: 400px; font-size: 20px;margin-left: 550px;">
		
		
			<tr>
				<th>
					Name
				</th>
				<th>
					Salary
					
				</th>
				<th>Dept</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
<tr><div th:each="employees:${employee}">
			<td >
				<span th:text="${employees.e_name}"></span>
			</td>
			<td>
				<span th:text="${employees.e_salary}"></span>
			</td>
			<td>
				<span th:text="${employees.e_dept}"></span>
			</td>
			<td><a th:href="@{/update/{id} (id=${employees.id})}">Update</a></td>
			<td><a th:href="@{/delete/{id} (id=${employees.id})}">Delete</a></td>
			</tr>
		</div>
	</table>
	<a th:href="@{/home/new}" style="margin-left: 790px;font-size: 20px;margin-top: -180px;">Add New Employer</a>
	</body>
</html>